body {background : #2f3640 ;}


h1 { color : #f5f6fa;
	 font-family : "Comic Sans MS"}

p { color : #7f8fa6 }

.paragraphe { font-size : 20px;
			  font-family : "Comic Sans MS";}

.paragraphe2 { font-size : 26px;
			   color : #95a5a6 ;
			   font-family : "Comic Sans MS"}


em { font-style : italic; }

strong { font-weight : bold  }


ul li { color : #7f8fa6;
     list-style-type : none;
 	 font-family : "Comic Sans MS";
 	 font-size : 20px}


#centre { text-align : center;
		  }



